*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dashboard_left{
    width: 60%;
    display: inline-block;
}

.dashboard_left_header>h1{
font-size: 3rem;
padding-bottom: 7%;
}
.user_name{
    text-transform: capitalize;
}
.bedtime_btn{
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
    margin: 10px 0px;
    cursor: pointer;
    font-weight: 500;
    color: rgba(135, 129, 129, 0.871);
}

.date_range_container{
    margin-top: 25px;
    display: flex;
    height: 65px;
    justify-content: space-between;
}

.date_range_buttons_container{
    background-color: rgb(240, 240, 253);
    padding: 7px 10px;
    border-radius: 50px;
    width: 50%;
}

.date_range_button{
    height: 100%;
    border-radius: 50px;
    width: 50%;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.add_habit_btn{
    width: 20%;
    border-radius: 50px;
    font-size: 1.3rem;
    border: 1px solid rgb(188, 188, 248);
    background-color: white;
    color: rgb(137, 137, 248);
    font-weight: 600;
    cursor: pointer;
}
