.dashboard_right{
    display: inline-block;
    width: 25%;
    position: absolute; 
    padding:0px 5% 0 5%;  
}

.dashboard_header{
    height: 50px;
}

.dashboard_header>h2{
    display: inline-block;
    width: 60%;
    padding: 0px 10px;
    font-weight: 500;
}
.header_btns{
    display: inline-block;
    height: 30px;
    width: 30px;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    border:.5px solid rgb(202, 202, 252) ;
}

.all_habits_container{
    width: 100%;
    height: auto;
    border: .5px solid rgb(196, 196, 247);
    border-radius: 5px;
    padding-bottom: 10px;
}
